.git
.env*
.npmrc*
.pnpm-store
**/node_modules
**/data
**/build
**/dist
**/distribution
**/target
**/env
**/.venv
**/coverage
**/__pycache__
**/*.egg-info
**/source
**/scripts
**/configurations
**/binder
**/*.log
**/*.tgz
**/.DS_Store
playwright-report
test-results
about
