**/node_modules
.pnpm-store
**/build
**/distribution
**/target
**/source
**/configurations
packages/**/scripts
fixtures/**/scripts
**/environment
**/env
**/.venv
**/coverage
**/data
packages/delog-client/delog-cli/tests
**/binder
about
patches
pnpm-lock.yaml
**/pnpm-lock.yaml
**/Cargo.lock
playwright-report
test-results
LICENSE*
**/LICENSE*
